body {
    padding-top: 1em;
    text-align: center;
    font-family: Arial, Sans-serif;
}

h1 { font-size: 10em; }
.invisible { visibility: hidden; }
#status { text-align: center; }
#url { width: 50%; }
